.widget{
    align-items: center;
}

.header{
    padding: 10px;
    text-align: center;
    background: #738ADB;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

body{
    background-color: #ebecf0;
}

.icon{
    position: fixed;
    top: 10px;
    left: 650px;
}